article {
    width: min-content;
}

.produit__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    margin: 20px auto;
}

.produit__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.produit__item:hover {

    border-color: var(--color-primary-variant);
    background: transparent;
}

.produit__item-img {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 20rem;
}

.poroduit__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 5px;
}

/* ############## MEDIA QUERIES (MEDIUM DEVICES) ################# */

@media screen and (max-width: 1300px) {

    .produit__container {
     grid-template-columns: 1fr 1fr;
     max-width: fit-content;
     gap: 2em;
    }
 
   
 
     
 }
 
 /* ############## MEDIA QUERIES (SMALL DEVICES) ################# */
 
 @media screen and (max-width: 600px) {
     
    .produit__container {
        grid-template-columns: 1fr;
        max-width: fit-content;
     }
     
 }